/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap';

body {
    background: black;
    color: white;
}

$pink-color: #f72585;
$blue-color: #4cc9f0;
$purple-color: #990BF5;


.h1c {
    font-size: xx-large;
}


.app-name {
    color: $blue-color;
    font-size: xx-large;
}


#post-link {
    margin: 1em;
    width: 100%;
    text-decoration: none;
}

.nav-links {
    background-color: black;
    color: $blue-color;
    width: 10em;
}

.link-container {
    display: flex;
    width: 50%;
}

.nav-link {
    color: $pink-color;
    background-color: black;
    margin: 1em;
}

#nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-fluid {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    margin: 0%;
}

.navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

// home

.image-1 {
    flex: 1;
    width: fit-content;
    height: 400px;
    width: 90rem;
    max-height: 99%;
}

.bodyhome {
    background-color: $blue-color;
}

.home-component {
    text-align: center;
    color: white;
    background-color: $blue-color;
}

.call-to-action {
    color: $purple-color;
    background-color: black;
    font-size: larger;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 30px;
    margin-right: 30px;
}

.home-body {
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
}







// postNew
h1 {
    text-align: center;
}

.postnew-body {
    background-color: $blue-color;
}

.postnew-button {
    margin: auto;
    text-align: center;
}

#button-color {
    background-color: $pink-color;
}

.label-color {
    color: black;
}

.form-control1 {
    padding-bottom: 5rem;
}


// not found page
.error {
    text-align: center;
    font-size: xx-large;
    padding-top: 250px;
}


.button-home {
    text-align: center;
    margin: auto;
    display: flex;
    background-color: $pink-color;
}

// footer
.footer {
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0px;
    width: 100%;
    height: 20px;
    position: fixed;
}


.about-us {
    color: $pink-color;
}

.back-home {
    color: $blue-color;
}

.footer-name {
    color: $purple-color;
}


// post-show
.index-cards {
    background-color: $blue-color;
    margin-left: auto;
    margin-right: auto;
}


.card-title1 {
    font-size: x-large;

}

.card-title-sub1 {
    position: absolute;
    top: 10%;
    left: 90%;
    transform: translate(-50%, -50%);
}